.main {
    grid-area: main;
    background-color: rgba(15,21,33,255)
}
.grid {
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-template-rows: repeat(auto-fit, min-content);
    padding: 3rem;
    gap: 3rem;
}
.card {
    background-color: rgba(36,99,235,255);
    border-radius: 1rem;
    color: rgb(255,255,255);
    box-shadow: 0.5rem 0.5rem 1rem var(--primary-dark);
    padding: 2rem;
    font-size: 1.25rem;
    height: 45rem;
}
.container {
    display: grid;
    grid-template-areas:
        "header1"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 100vh calc(100vh - 80rem);
    @media (max-width: 1200px) {
        grid-template-areas:
        "header1"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 10rem auto calc(100vh - 80rem);
        @media (max-width: 768px) {
            grid-template-areas:
            "header1"
            "main"
            "footer2";
            grid-template-columns: 1fr;
            grid-template-rows: 10rem auto calc(100vh - 80rem);
        }
    }
}

.header1 {
    grid-area: header1;
    background-color: rgba(15,21,33,255);
    display: inline;
}

.header2 {
    grid-area: header2;
}

.footer {
    grid-area: footer;
    background-color:rgba(230,233,239,255);
}
.footer2 {
    grid-area: footer2;
    background-color:rgb(17, 209, 113);
}

.aside {
    grid-area: aside;
    background-color:darkslategray;
    @media (min-width: 768px) {
        display: none;
    }
}
.aside2 {
    grid-area: aside2;
    background-color:rgb(178, 187, 47);
    @media (max-width: 1200px) {
        display: none;
    }
}

.title {
    display: inline;
    font-weight: bolder; 
    font-size: 4rem;
    color: rgb(37,100,234);
    text-align: center;
    align-items: center;
    margin-left:40px;   
}
.titleC {
    font-weight: bolder;
    font-size: 3rem;
    color: rgb(0,0,0);
    text-align: center;
    align-items: center;
}
.imageH {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 1rem;
}
.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem var(--primary-dark);
    justify-content: center;
    align-items: center;
    display: inline;
}